body{
    box-sizing: border-box !important;
    background-color: rgb(247, 247, 247);
}

h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 1%;
    font-size: 40px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.20rem rgb(0 0 0 / 25%) !important;
}


dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active,.btn-outline-dark:hover{
    background-color:  grey !important ;
}
.btn-outline-dark{
    border-color: grey !important;
    border : 1px solid grey !important;
}

.todo-list{
    margin: -15px 0 !important;
}

.button {
    width: 100px !important;
    margin: 0 3px;
}

.list-input{
    background-color: white !important;
    overflow: auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

#task{
    height: 50px !important;
    font-size: 20px;
    line-height: 25px;
}

